app-authentication-template {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  input,
  textarea {
    -webkit-touch-callout: text; /* iOS Safari */
    -webkit-user-select: text; /* Safari */
    -khtml-user-select: text; /* Konqueror HTML */
    -moz-user-select: text; /* Old versions of Firefox */
    -ms-user-select: text; /* Internet Explorer/Edge */
    user-select: text; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  }
}
